body{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-image: ('galaxia.jpg'); 
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
        background-attachment: fixed;
      }
      

.container{
    width: 80%;
    margin: 50 px auto;
    text-align: center;
}

h1{
    color: #333;
}

button{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background-color: #555;
}
button:hover{
    background-color: #0056b3;
}
body {
    background-image: url('mudanças.JPEG'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover; /* Isso faz com que a imagem cubra todo o elemento body */
    background-position:center; /* Isso centraliza a imagem no body */
    background-attachment: fixed; /* Isso faz com que a imagem de fundo seja fixada, ou seja, não role com o conteúdo */
    margin: 0; /* Define margem zero para garantir que a imagem cubra toda a tela */
    padding: 0; /* Define padding zero para garantir que a imagem cubra toda a tela */
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semi-transparente ao menu */
    color: white;
    text-align: center;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }

  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Adiciona um efeito de hover ao menu */
  }

  .fundo {
    padding: 20px;
    color: white;
  }